* {
    margin: 0px;
    padding: 0px;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}
header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo a img {
    width: 56px;
    margin-left: 50%;
}
nav {
    width: 600px;
    display: flex;
    justify-content: space-evenly;
    
}
nav a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    color: #282c3f;
    font-weight: 650;
}
nav a sup {
    font-size: 70%;
    color: #ff3f6c;
}
.search_bar {
    width: 350px;
    height: 40px;
    background-color: #f5f5f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}
.search_bar .search_icon {
    width: 30px;
    padding: 2px 0px 2px 6px;
}
.search_bar input {
    flex-grow: 1;
    background-color: #f5f5f6;
    border: none;
}
.action {
    margin-right: 4%;
    width: 200px;
    display: flex;
    justify-content: space-evenly;
}
.action div {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    color: #000;
    font-weight: 700;
}

/*main section -----------------------------------------------------------------*/
.item-container{
    margin: 2% 3%;
    display: flex;
}
.item{
    width: 15%;
    padding: 1%;
}
.item-image{
    width: 100%;
}
.rating{
    font-size: 12px;
    font-weight: 700;
}
.company-name{
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    color: #282c3f;
    margin-bottom: 6px;
}
.product-name{
    color: #535766;
    font-size: 14px;
    line-height: 1;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 400;
}
.price{
    font-size: 14px;
    line-height: 15px;
    color: #282c3f;
    font-weight: 700;
}
.current-price{
    font-size: 14px;
    font-weight: 700;
    color: #282c3f;
}
.orginal-price{
    text-decoration: line-through;
    color: #7e818c;
    font-weight: 400;
    margin-left: 5px;
    font-size: 12px;
}
.discount{
    color: #ff905a;
    font-weight: 400;
    font-size: 12px;
    margin-left: 5px;
}
.btn-add-bag{
    margin-top: 5%;
    padding: 5px;
    width: 100%;
    background-color: lightgreen;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 15px;
}

/* footer section --------------------------------------------------------------------------*/
.links {
    display: flex;
    justify-content: space-evenly;
    text-transform: uppercase;
    color: #282c3f;
    font-weight: 700;
    font-size: 15px;
}
.links a {
    text-transform: capitalize;
    text-decoration: none;
    color: #696b79;
    font-weight: 500;
    font-size: 13px;
}
.searches {
    text-transform: uppercase;
    color: #282c3f;
    font-weight: 700;
    font-size: 15px;
    padding: 2%;
}
.searches .items {
    text-transform: capitalize;
    text-decoration: none;
    color: #696b79;
    font-weight: 500;
    font-size: 13px;
}
.brand {
    margin-left: 5%;
    width: 500px;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}
.copyright {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5%;
}
.copyright span a {
    text-decoration: none;
    font-weight: 500;
}