*{
    margin: 0px;
    padding: 0px;
}
header{
    display: flex;
    height: 50px;
    background-color: aqua;
    /* justify-content:space-evenly; */
}
#logo{
    height: 50px;
    width: 50px;
    margin: 15px;
}
#menu{
    width: 400px;
    background-color: cadetblue;
    display: flex;
    justify-content: space-evenly;
    font-size: small;
}
#searchbox{
    width: 200px;
}
#option{
    background-color: cadetblue;
}