#body{
    height: 450px;
    width: 200px;
    border: 2px solid black;
    margin: 20px 100px;
}
#display{
    height: 10%;
    padding: 10px;
    margin: 5px;
    border: 2px solid black;
}
.button{
    height: 50px;
    width: 50px;
    margin: 5px;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid bisque;
}
#function{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
#numbers{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}