h1 {
    text-align: center;
}
#todo-item {
   margin-left: 200px;
   height: 20px;
   width: 30%;
}
#container div {
    margin-left: 100px;
    margin-top: 5px;
    display: grid;
    grid-template-columns: 50px 250px 150px 100px;
}
#add-button {
    background-color: green;
}
#del-button {
    background-color: red;
}