* {
    margin: 0px;
    padding: 0px;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}
header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo a img {
    width: 56px;
    margin-left: 50%;
}
nav {
    width: 600px;
    display: flex;
    justify-content: space-evenly;
    
}
nav a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    color: #282c3f;
    font-weight: 650;
}
nav a sup {
    font-size: 70%;
    color: #ff3f6c;
}
.search_bar {
    width: 350px;
    height: 40px;
    background-color: #f5f5f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}
.search_bar .search_icon {
    width: 30px;
    padding: 2px 0px 2px 6px;
}
.search_bar input {
    flex-grow: 1;
    background-color: #f5f5f6;
    border: none;
}
.action {
    margin-right: 4%;
    width: 200px;
    display: flex;
    justify-content: space-evenly;
}
.action div {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    color: #000;
    font-weight: 700;
}

/*main section*/
main img {
    display: block;
    margin: auto;
    padding: 2%;
    width: 800px;
    height: 400px;
}
.stomach {
    display: flex;
    justify-content: space-between;
    margin: 2%;
}
.stomach .galary {
    width: 80%;
    display: inline-block;
}
.stomach .galary .row {
    display: flex;
    margin: 10px;
    justify-content: space-evenly;
}
.stomach .galary .row div {
    border: black dashed;
}
.stomach .galary .row div img {
    width: 300px;
    height: 250px;
    margin: 10px;
    padding: 10px;
    border: black solid;
}
.stomach .galary .row div p {
    margin-left: 30%;
    padding: 0px 0px 12px 0px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300;
}
.stomach aside {
    display:grid;
    padding: 2%;
    width: 20%;
    text-decoration: none;
}
.stomach aside a {
    font-weight: 400;
    font-size: 15px;
    text-decoration: none;
    color: #3e4152;
    line-height: 25px;
}

/* footer section */
.links {
    display: flex;
    justify-content: space-evenly;
    text-transform: uppercase;
    color: #282c3f;
    font-weight: 700;
    font-size: 15px;
}
.links a {
    text-transform: capitalize;
    text-decoration: none;
    color: #696b79;
    font-weight: 500;
    font-size: 13px;
}
.searches {
    text-transform: uppercase;
    color: #282c3f;
    font-weight: 700;
    font-size: 15px;
    padding: 2%;
}
.searches .items {
    text-transform: capitalize;
    text-decoration: none;
    color: #696b79;
    font-weight: 500;
    font-size: 13px;
}
.brand {
    margin-left: 5%;
    width: 500px;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}
.copyright {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5%;
}
.copyright span a {
    text-decoration: none;
    font-weight: 500;
}